# created by virtualenv automaticaly
# Python bytecode (compiled files)
__pycache__/
*.py[cod]

# PyCharm/IntelliJ files
.idea/

#.venv files
.venv

# VS Code files
.vscode/

# Local data files (optional, keeps your personal tasks private)
*.txt
